.cell {
    width: 60px;
    height: 60px;
    float: left;
}

.cell-even {
    background-color: #ddd;
}

.cell-odd {
    background-color: #eee;
}

.row {
    clear: both;
}

.mouse {
    width: 10px;
    height: 10px;
    margin: 25px;
    background-color: red;
    position: absolute;
}
