#game {
    position: relative;
}

.cell {
    width: 60px;
    height: 60px;
    float: left;
}

.cell-even {
    background-color: #ddd;
}

.cell-odd {
    background-color: #eee;
}

.row {
    clear: both;
}

.mouse {
    position: absolute;
    margin-top: 25px;
    margin-left: 25px;

    width: 0px;
    height: 0px;
    border-style: solid;
}

.mouse-up {
    border-width: 0 5px 10px 5px;
    border-color: transparent transparent red transparent;
}

.mouse-down {
    border-width: 10px 5px 0 5px;
    border-color: red transparent transparent transparent;
}

.mouse-left {
    border-width: 5px 10px 5px 0;
    border-color: transparent red transparent transparent;
}

.mouse-right {
    border-width: 5px 0 5px 10px;
    border-color: transparent transparent transparent red;
}

.cat {
    position: absolute;
    margin-top: 20px;
    margin-left: 20px;

    width: 0px;
    height: 0px;
    border-style: solid;
}

.cat-up {
    border-width: 0 10px 20px 10px;
    border-color: transparent transparent #0b514e transparent;
}

.cat-down {
    border-width: 20px 10px 0 10px;
    border-color: #0b514e transparent transparent transparent;
}

.cat-left {
    border-width: 10px 20px 10px 0;
    border-color: transparent #0b514e transparent transparent;
}

.cat-right {
    border-width: 10px 0 10px 20px;
    border-color: transparent transparent transparent #0b514e;
}

.arrow {
    margin-left: 10px;
    margin-top: 10px;
    width: 0px;
    height: 0px;
    border-style: solid;
}

.arrow-up {
    border-width: 0 20px 40px 20px;
    border-color: transparent transparent blue transparent;
}

.arrow-down {
    border-width: 40px 20px 0 20px;
    border-color: blue transparent transparent transparent;
}

.arrow-left {
    border-width: 20px 40px 20px 0;
    border-color: transparent blue transparent transparent;
}

.arrow-right {
    border-width: 20px 0 20px 40px;
    border-color: transparent transparent transparent blue;
}

.wall {
    position: absolute;
}

.wall-left {
    width: 2px;
    height: 60px;
    background-color: green;
    margin-right: 58px;
}

.wall-right {
    width: 2px;
    height: 60px;
    background-color: green;
    margin-left: 58px;
}

.wall-down {
    height: 2px;
    width: 60px;
    background-color: green;
    margin-top: 58px;
}

.wall-up {
    height: 2px;
    width: 60px;
    background-color: green;
    margin-bottom: 58px;
}

.spawner {
    margin: 15px;
    width: 30px;
    height: 30px;
    background-color: #B29AF5;
    position: absolute;
}

.sink {
    margin: 15px;
    width: 30px;
    height: 30px;
    background-color: #EF9E54;
    position: absolute;
    text-align: center;
}

.sink-player {
    margin: 10px;
    width: 10px;
    height: 10px;
    border-radius: 5px;
}

.sink-player1 {
    background-color: blue;
}

.sink-player2 {
    background-color: red;
}

.score {
    float:left;
}
